@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
html {
  background: linear-gradient(to bottom, #FFFF, #F6C199);/*트게더 배경색 그라데이션*/
  height: auto !important;
}
body {
letter-spacing: -0.05em !important;
  background: transparent;
  font-family: 'Nanum Gothic', sans-serif;/*글꼴*/
}

/* 전체 쉐도우 */

header #header-bar>.row,
#main .menu-wrapper,
#main #main-content>div.frame {
  box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.2);
}

/* 로고밑 NAV bar */

header #header-bar>.row {
  border-radius: 15px;
  border-top: 4px solid #E4B382;
  border-right: 4px solid #E4B382;
  border-left: 4px solid #E4B382;
  border-bottom: 4px solid #E4B382;
}

/* 헤더 배너 */

header .row>div:nth-child(1)>a {
  display: block;
  width: 145px;
  height: 50px;
  background: url() no-repeat;
  background-size: auto 50px;
}

header .row>div:nth-child(1)>a>img {
  display: block;

	filter: grayscale(100%);
  opacity: 0.8;
}

/* 검색폼 보더 */

header #right-search-form>input[type='text'] {
  border-radius: 15px;/*테두리 둥글*/
  border: 3px solid #F6C199;/*검색창 색상*/
}

/* 트게더 전체메뉴 / 유용한링크 / 트위치 스케쥴 */

#main .menu-wrapper>.header {
  background: #E4B382;/*왼쪽 트게더 전체메뉴 배경*/
}

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  color: white;
}

.fa-square:before {
  color: #F6C199;
}

header #header-bar>.row,
#main .menu-wrapper,
#main #main-content>div.frame {
  border-radius: 15px;
  border-right: none;
  border-bottom: none;
}

#main .menu-wrapper {
  border: none;
}

/* 헤더 검색 버튼 */

header #right-search-form>#right-search-btn {
  color: #F6C199;
}

/* 헤더 [광고]배경색 */

header #header-bar #header-top-notice strong.notice-badge {
  background: #F6C199;
}

/* fa색상 */

header #header-bar .fa {
  color:  #47C83E;/*로고 밑 바 그림 색*/
}

/* 스트리머 게시판 상단 정보 글씨색상 */

#board-info #board-info-bottom a {
  color: #000000;
}

/* 좌측메뉴 숏컷링크 글씨 색상 */

#main .menu-wrapper>a>em {
  color: #F6C199;
}

/* 좌측메뉴 메뉴사이의 공간 색상 */

#main .menu-wrapper .spacer {
  background: #F6C199;
  height: 0.15em;
}

/* 게시글 관련부분 */

#article-list>.article-list-row>.item>.list-title>.list-writer>span {
  width: 120px !important;
}

#article-list #article-list-category {
  border-top: 2px solid #FF0000;
  background: white;/*건의사항 잡담 등등 있는 바 배경색상*/
}

#article-list #article-list-category>a {
  background: white;/*건의사항 잡담 등등 있는 바 배경색상*/
}

#article-list>.article-list-row>.item>.list-header>span {
  background-color: #F6C199;
}

#article-list>.article-list-row>.item>.list-title>small.comment-count {
  color: #F6C199;
}

#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span {
  color: #F6C199;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  background-color: #FF0000;
  border-color: #FF0000;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
  color: #FF0000;
}

.pagination>li>a,
.pagination>li>span {
  color: #FF0000;
}

#article-content-wrapper>.header {
  border-top: 2px solid #FF0000;
}

#article-reply-area #reply-real-area .reply>.reply-header>.reply-writer.logged,
#article-reply-area #reply-best-area .reply>.reply-header>.reply-writer.logged {
  color: #FF0000;
}

#article-info>h2 {
  font-weight: bold;
}

#article-info>h2>span.category {
  color: #FF0000 !important;
}

#article-reply-area>.header h5 {
  color: #FF0000;
}

#main .menu-wrapper>a {
  padding: 0.5em 1.4em 0.5em 0.7em !important;
}

a {
  color: #FF0000;
}

span.a-badge i.fa.fa-info-circle {
  color: #E4B382;
}

/* footer */

#article-list>.article-list-row {
  border-right: none;
}

#article-list #article-list-menu {
  box-sizing: border-box;
  width: unset;
  margin: 20px;
}

#article-list #boardSearchForm {
  padding-bottom: 20px;
  height: unset;
}

.btn-primary {
  background: #47C83E !important;
}
